* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
a {
  color: black;
}
nav.navbar {
  width: 100%;
}

ul.navbar-list {
  list-style: none;
  display: flex;
  font-size: 1.75rem;
  align-items: center;
  justify-content: space-between;
  padding: 5% 12%;
  border: 1px solid black;
  border-radius: 3rem 3rem 0 0;
  position: fixed;
  width: 95%;
  background: white;
  bottom: 0;
}

ul.navbar-item {
  color: black;
}

nav.navbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
li.navbar-item.navbar-agent {
  color: white;
}
li.navbar-agent-link {
  position: fixed;
  bottom: 4%;
  left: 41%;
  font-size: 43px;
  background: black;
  color: white;
  padding: 3% 4%;
  border-radius: 5rem;
}
